

# ----------------------------------------------------------------------------------------------------------------------
# Created by https://www.gitignore.io/api/maven
# Edit at https://www.gitignore.io/?templates=maven

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# End of https://www.gitignore.io/api/maven
# ----------------------------------------------------------------------------------------------------------------------


# ----------------------------------------------------------------------------------------------------------------------
# Created by https://www.toptal.com/developers/gitignore/api/jenv
# Edit at https://www.toptal.com/developers/gitignore?templates=jenv

### JEnv ###
# JEnv local Java version configuration file
.java-version

# Used by previous versions of JEnv
.jenv-version

# End of https://www.toptal.com/developers/gitignore/api/jenv
# ----------------------------------------------------------------------------------------------------------------------


*.iml
.idea/
!.idea/codeStyles


.classpath
.project
.settings/

*.log

.claude
CLAUDE.md
_*.asciidoc
